{% extends 'base.html' %}

{% block content %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ article.title }}</h2>
            <p class="blog-post-meta">{{ article.date }}</p>
            <p>
                {{ article.content|safe }}
            </p>
        </div>
        {% for k in article.keywords.all %}
        <a href="/kw/{{ k.title }}"><span class="badge" style="background-color:{{ k.color }}">{{ k.title }}</span></a>
        {% endfor %}
        <hr></hr>
{% endblock %}
